<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.identification.repository.ApplicationRepository">

	<resultMap id="applicationMap" type="Application">
		<id column="application_no" property="applicationNo"/>
		<result column="application_date" property="applicationDate"/>
		<result column="company_no" property="companyNo"/>
		<result column="department" property="department"/>
		<result column="app_file_path" property="appFilePath"/>
		<result column="result_fild_path" property="resultFildPath"/>
		<result column="remark" property="remark"/>
		<result column="delete_flag" property="deleteFlag"/>

		<result column="CREATE_BY" property="createBy"/>
		<result column="LAST_MODIFY_BY" property="lastModifyBy"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
	</resultMap>
	
	
  <insert id="insertApplication" parameterType="Application" useGeneratedKeys="true" keyProperty="applicationNo" >
    INSERT INTO application( 
       application_no,
	   application_date,
	   company_no,
       department,
       app_file_path,
       result_fild_path,
       remark,       
      `DELETE_FLAG`,
	  `CREATE_BY`, 
	  `LAST_MODIFY_BY`,
	  `CREATE_TIME`,
	  `LAST_MODIFY_TIME`) 
    VALUES(
        #{applicationNo},
    	#{applicationDate},
    	#{companyNo},
    	#{department},
    	#{appFilePath},
    	#{resultFildPath},
    	#{remark},
    	#{deleteFlag},
    	#{createBy},
    	#{lastModifyBy},
    	now(),
    	now()
    )
  </insert>
  
   <!--  <update id="deleteApplication" parameterType="Application">
    	UPDATE application
    	SET  
       		delete_flag = 1,
       		`update_id` = #{updateId},
       		update_by = #{updateBy},
       		update_date = now()
   	 	WHERE delete_flag = 0
      	<if test="applicationNo != null and applicationNo != ''">  
        	and `application_No` = #{applicationNo}
      	</if>  
      	<if test="remark != null and remark != ''">  
        	and `remark` = #{remark}
      	</if>  
  	</update> -->
     
	<resultMap id="applicationResultMap" type="ApplicationResult">
		<id column="application_no" property="applicationNo"/>
		<result column="application_Date" property="applicationDate"/>
		<result column="application_Date_From" property="applicationDateFrom"/>
		<result column="application_Date_To" property="applicationDateTo"/>
		<result column="report_No" property="reportNo"/>
		<result column="company_No" property="companyNo"/>
		<result column="company_Name" property="companyName"/>

		<result column="leader_No" property="leaderNo"/>
		<result column="leader_Name" property="leaderName"/>

		<result column="experts_No" property="expertsNo"/>
		<result column="experts_Name" property="expertsName"/>
		<result column="expert_Name_Con" property="expertNameCon"/>

		<result column="equipment_No" property="equipmentNo"/>
		<result column="equipment_Name" property="equipmentName"/>

		<result column="repair_Level" property="repairLevel"/>
		<result column="result" property="result"/>
		<result column="time_Limit" property="timeLimit"/>
		<result column="is_Reform" property="isReform"/>
		<result column="remark" property="remark"/>
		
		<result column="CREATE_BY" property="createBy"/>
		<result column="LAST_MODIFY_BY" property="lastModifyBy"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
	</resultMap>
	
  <sql id="searchCondSql">
  	<where>
  		<if test="companyName != null and companyName != '' ">
  			and company.company_Name = #{companyName}
  		</if>
  		<if test="equipmentName != null and equipmentName != '' ">
  			and equipment.equipment_Name = #{equipmentName}
  		</if>
  		<if test="expertsNo != null and expertsNo != '' ">
  			and report.leader_No = #{expertsNo} or report.EXPERTS_NO like #{expertsNo}
  		</if>
  		<if test="applicationDateFrom != null and applicationDateFrom != '' ">
  			and report.application_Date <![CDATA[>=]]> #{applicationDateFrom}
  		</if>
  		<if test="applicationDateTo != null and applicationDateTo != '' ">
  			and report.application_Date <![CDATA[<=]]> #{applicationDateTo}
  		</if>
  		<if test="expertNameCon != null and expertNameCon != '' ">
  			and ( ${expertNameCon} )
  		</if>
  	</where>
  </sql>	

  <select id="selectApplicationResultCount" resultType="int" parameterType="ApplicationResult">
    select count(1)
	  from report report
	 inner join application apply
	    on apply.APPLICATION_NO = report.APPLICATION_NO
	 inner join company
	    on company.COMPANY_NO = report.COMPANY_NO
	 inner join equipment
	    on equipment.EQUIPMENT_NO = report.EQUIPMENT_NO
	<include refid="searchCondSql"/>  
  </select>

  <select id="selectApplicationResultList" resultMap="applicationResultMap" parameterType="ApplicationResult">
	select report.APPLICATION_NO
	     , report.APPLICATION_DATE
	     , report.COMPANY_NO
	     , report.LEADER_NO
	     , report.EXPERTS_NO
		 , report.COMPANY_NO
		 , company.COMPANY_NAME
	     , report.EQUIPMENT_NO
	     , equipment.EQUIPMENT_NAME
	     , report.REPAIR_LEVEL
	     , report.RESULT
	     , report.TIME_LIMIT
	     , report.CREATE_BY
		 , report.LAST_MODIFY_BY
		 , report.CREATE_TIME
		 , report.LAST_MODIFY_TIME
	  from report report
	 inner join application apply
	    on apply.APPLICATION_NO = report.APPLICATION_NO
	 inner join company
	    on company.COMPANY_NO = report.COMPANY_NO
	 inner join equipment
	    on equipment.EQUIPMENT_NO = report.EQUIPMENT_NO
    
   <include refid="searchCondSql"/>  
   	LIMIT ${startNo}, ${pageSize}
  </select>


   <delete id="deleteApplication" parameterType="Application">
    	delete from application
    	
   	 	WHERE delete_flag = 0
      	<if test="applicationNo != null and applicationNo != ''">  
        	and `application_No` = #{applicationNo}
      	</if>  
      	<if test="remark != null and remark != ''">  
        	and `remark` = #{remark}
      	</if>  
  	</delete> 
  	
</mapper>