<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.identification.repository.ConstantRepository">
    <sql id="baseSearchSql">
          SELECT 
			CONSTANT_TYPE,
			CONSTANT_NO,
			CONSTANT_NAME,
			PARENT_NO,
			SORT,
			ATTRIBUTE_1,
			ATTRIBUTE_2,
			ATTRIBUTE_3,
			DELETE_FLAG,
			CREATE_BY,
			CREATE_TIME,
			LAST_MODIFY_BY,
			LAST_MODIFY_TIME
		  FROM constant 
    </sql>
    
	<resultMap id="constantMap" type="ConstantModel">
		<result column="CONSTANT_TYPE" property="constantType"/>
		<result column="CONSTANT_NO" property="constantNo"/>
		<result column="CONSTANT_NAME" property="constantName"/>
		<result column="PARENT_NO" property="parentNo"/>
		<result column="SORT" property="sort"/>
		<result column="ATTRIBUTE_1" property="attribute1"/>
		<result column="ATTRIBUTE_2" property="attribute2"/>
		<result column="ATTRIBUTE_3" property="attribute3"/>

		<result column="DELETE_FLAG" property="deleteFlag"/>
		<result column="CREATE_BY" property="createBy"/>
		<result column="LAST_MODIFY_BY" property="lastModifyBy"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="LAST_MODIFY_TIME" property="lastModifyTime"/>
	</resultMap>

  <sql id="searchCondSql">
  	<where>
  	</where>  
  </sql>
  
  <select id="selectConstantCount" resultType="int" parameterType="ConstantModel">
    select 
	  count(1)
    from EQUIPMENT equipment
	<include refid="searchCondSql"/>  
  </select>

  <select id="selectConstantList" resultMap="constantMap" parameterType="ConstantModel">
   	<include refid="baseSearchSql"/>  
   	 where delete_flag = '0'
   	        and `CONSTANT_TYPE` = #{constantType}        
   	 order by SORT 
  </select>
  
  <insert id="insertConstant" parameterType="ConstantModel"  >
    
	INSERT INTO constant
	 (
	  `CONSTANT_TYPE`, 
	  `CREATE_BY`, 
	  `LAST_MODIFY_BY`, 
	  `DELETE_FLAG`, 
	  `CONSTANT_NO`, 
	  `CONSTANT_NAME`,
	  `PARENT_NO`,
	  `CREATE_TIME`,
	  `LAST_MODIFY_TIME`
	  ) 
    VALUES(
    	#{constantType},
    	#{createBy},
    	#{lastModifyBy},
    	#{deleteFlag},
    	#{constantNo},
    	#{constantName},
    	#{parentNo},
    	now(),
    	now()
    )
  </insert> 
  
  
  <insert id="batchAddConstantModel" parameterType="java.util.List"  >
    
	INSERT INTO constant
	 (
	  `CONSTANT_TYPE`, 
	  `CREATE_BY`, 
	  `LAST_MODIFY_BY`, 
	  `DELETE_FLAG`, 
	  `CONSTANT_NO`, 
	  `CONSTANT_NAME`,
	  `PARENT_NO`,
	  `CREATE_TIME`,
	  `LAST_MODIFY_TIME`
	  ) 
    VALUES
    
     <foreach collection="list" item="item" index="index" separator=",">
	   (
	   	#{item.constantType},
    	#{item.createBy},
    	#{item.lastModifyBy},
    	#{item.deleteFlag},
    	#{item.constantNo},
    	#{item.constantName},
    	#{item.parentNo},
    	now(),
    	now()
	   )
	 </foreach>
    	
    
  </insert> 
  
  
  <update id="updateConstant" parameterType="ConstantModel">
    UPDATE admin_user
    SET  
       admin_user_name = #{userName},
       
      <if test="password != null and password != ''">  
         `password` = #{password},
      </if>  
      role_id = #{roleId},
      role_name=#{roleName},
       <if test="questionCategoryIds != null and questionCategoryIds != ''">  
      question_category_id = #{questionCategoryIds},
      user.question_category_name=#{questionCategoryNames},
      </if>
      `update_id` = #{updateId},
       updateor = #{updateor},
       update_date = now()
    WHERE admin_user_id = #{userId}
  </update>
  
  
  
  
  <select id="findParentSeq" resultType="int">
  	SELECT NEXTVAL('ParentSeq')
  </select> 
  
  <select id="findChildrenSeq" resultType="int">
 	 SELECT NEXTVAL('ChildrenSeq')
  </select> 
  
  <select id="findCompanySeq" resultType="int">
  	SELECT NEXTVAL('CompanySeq')
  </select> 
  
  <select id="findEquipmentSeq" resultType="int">
 	 SELECT NEXTVAL('EquipmentSeq')
  </select> 
  
  <select id="findApplicationSeq" resultType="int">
 	 SELECT NEXTVAL('ApplicationSeq')
  </select> 
  
  <select id="findReportSeq" resultType="int">
 	 SELECT NEXTVAL('ReportSeq')
  </select> 
  
  <select id="findConstantMap" resultMap="constantMap" parameterType="ConstantModel">
    SELECT CONSTANT_NAME,CONSTANT_NO ,CONSTANT_TYPE FROM constant C
    where
    	C.CONSTANT_TYPE = #{constantType}
  </select>
  
  <delete id="deleteConstant" parameterType="ConstantModel">
    delete from constant
    WHERE delete_flag = 0
        and `CONSTANT_TYPE` != 'REPAIR_LEVEL'
      <if test="constantType != null and constantType != ''">  
        and `CONSTANT_TYPE` = #{constantType}
      </if>  
  </delete>
  
</mapper> 