<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.main.identification.repository.ReportRepository">

	<resultMap id="reportMap" type="Report">
		<id column="report_no" property="reportNo"/>
		<result column="company_no" property="companyNo"/>
		<result column="leader_no" property="leaderNo"/>
		<result column="experts_no" property="expertsNo"/>
		<result column="equipment_no" property="equipmentNo"/>
		<result column="repair_level" property="repairLevel"/>
		<result column="application_no" property="applicationNo"/>
		<result column="application_date" property="applicationDate"/>
		<result column="result" property="result"/>
		<result column="time_limit" property="timeLimit"/>
		<result column="is_reform" property="isReform"/>
		<result column="remark" property="remark"/>

		<result column="create_id" property="createId"/>
		<result column="create_date" property="createDate"/>
		<result column="createor" property="createor"/>
		
		<result column="update_id" property="updateId"/>
		<result column="update_date" property="updateDate"/>
		<result column="updateor" property="updateor"/>
	</resultMap>
	
  <insert id="insertReport" parameterType="Report" useGeneratedKeys="true" keyProperty="reportNo" >
    INSERT INTO company( 
	   company_no,
	   leader_no,
       experts_no,
       equipment_no,
       repair_level,
       application_no,
       application_date,
       result,
       time_limit,
       is_reform,
       remark,
	  `create_date`,
	  `create_id`,
	  `update_id` ,
	  `update_date`,
	   createor,
	   updateor) 
    VALUES(
    	#{companyNo},
    	#{leaderNo},
    	#{expertsNo},
    	#{equipmentNo},
    	#{repairLevel},
    	#{applicationNo},
    	#{applicationDate},
    	#{result},
    	#{timeLimit},
    	#{isReform},
    	#{remark},
    	now(),
    	#{createId},
    	#{updateId},
    	now(),
    	#{createor},
    	#{updateor}
    )
  </insert> 
     
</mapper>